footer {
  background-color: #1c2f50;
  padding: 3rem 0;
}

footer .img {
  width: 100%;
}
footer .img img {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  footer .img {
    width: 100%;
  }
  footer .img img {
    max-width: 100%;
    object-fit: contain;
  }
}
